:root {
  --main-color: #ffffff;
  --background-color: #141429;
  --error-color: #da1414;
  --text-color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

*,
body {
  margin: 0;
  font-family: "Risque", cursive;
  color: var(--main-color);
  font-weight: normal;
}

img {
  display: block;
  margin-right: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  width: 198px;
}

.site-nav {
  display: none;
  margin-left: 10px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.site-nav a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.site-nav .item:not(:last-child) {
  margin-right: 34px;
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;
  height: 80px;
  padding-left: 27px;
  padding-right: 27px;
}
.main-nav .site-nav {
  margin-right: auto;
  margin-left: auto;
}

.burger-menu-icons .burger-menu-icon,
.burger-menu-icons .burger-menu-close-icon {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
}

.hidden {
  display: none;
}

.mobile-menu {
  text-align: center;
  z-index: 91;
  position: fixed;
  font-size: 32px;
  line-height: 37px;
  top: 0;
  right: 0;
  color: white;
  padding-top: 233px;
  padding-bottom: 226px;
  padding-right: 259px;
  padding-left: 259px;
  background: #d02b2b;
  border-radius: 0px 0px 0px 100%;
  height: 100%;
}
.mobile-menu .item.item:not(:last-child) {
  margin-bottom: 38px;
}

.main {
  padding-top: 90px;
  background-color: var(--background-color);
}
.main #blnk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/stars.e602734d.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  pointer-events: none;
}

.main-section {
  position: relative;
  background-image: url("/dedcoca.54747d8c.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 544px, cover;
  padding-top: 130px;
  padding-bottom: 393px;
}
.main-section .main-section-title {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 13px;
}
.main-section .main-section-info {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 43px;
}
.main-section .main-section-button {
  border-radius: 20px 20px 20px 0px;
  border: 2px solid var(--main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 43px;
  padding-right: 40px;
}
.main-section .main-section-button:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}
.main-section .main-text {
  display: none;
}

.product-section {
  background-image: url("/back2.29dbb9b4.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 94px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 79px;
  background-position: center;
}
.product-section .product-section-header {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 25px;
}
.product-section .product-section-info {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 34px;
}
.product-section .presents-list {
  display: flex;
  justify-content: center;
}
.product-section .presents-list .present-item {
  background: #ffffff;
  box-shadow: inset 4px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 111px;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section .selected-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-section .selected-product .selected-product-photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 73px;
}
.product-section .product-header {
  font-size: 42px;
  line-height: 49px;
  padding-top: 29px;
  margin-bottom: 30px;
}
.product-section .prouct-info {
  font-size: 28px;
  line-height: 33px;
  width: 315px;
}

.present-item:first-child img {
  width: 51px;
  height: 90px;
}
.present-item:nth-child(2) img {
  width: 91px;
  height: 69px;
}
.present-item:nth-child(3) img {
  width: 70px;
  height: 74px;
}
.present-item:not(:last-child) {
  margin-right: 24px;
}
.present-item img {
  pointer-events: none;
}

.checked {
  border: 5px solid #ffffff;
  background: transparent !important;
  box-shadow: none !important;
}

.contact-section {
  background-image: url("/back3.e27adbec.png");
  padding-top: 133px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 133px;
  padding-bottom: 76px;
  background-position: center;
}

.contact-section-header {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 24px;
}

.form-application .form-label input,
.form-application .form-label textarea {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid #ffffff;
  border-radius: 15px;
  width: 395px;
  font-family: "Roboto", sans-serif;
  height: 95px;
  padding-left: 25px;
}
.form-application .form-label input::placeholder,
.form-application .form-label textarea::placeholder {
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
}
.form-application .form-label input {
  font-family: "Roboto", sans-serif;
  height: 51px;
  margin-bottom: 24px;
  padding-left: 25px;
}
.form-application .form-label .input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-application .accept-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
.form-application .accept-text::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  margin-right: 7px;
  border: 2px solid #d02b2b;
}
.form-application .input-checkbox:checked + .accept-text::before {
  content: " ";
  background-color: var(--main-color);
  background-image: url("/checkbox.0093cc87.png");
  background-size: 15px;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-nav .site-nav {
    display: flex;
  }

  .main .snow {
    display: block;
    background-image: url("/snow.444eb42b.png");
    width: 447px;
    height: 447px;
    background-size: cover;
    position: absolute;
    left: -10%;
    bottom: -10%;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 25s linear 0s normal none infinite running rot;
    pointer-events: none;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .main .main-section {
    padding-top: 145px;
    padding-bottom: 284px;
    background-position: right bottom;
    background-size: 1001px, cover;
  }
  .main .main-section .main-content .main-section-title {
    font-size: 72px;
    line-height: 83px;
    margin-bottom: 20px;
  }
  .main .main-section .main-section-info {
    margin-bottom: 27px;
    font-size: 38px;
    line-height: 44px;
  }
  .main .main-text {
    display: block;
    position: absolute;
    top: 30%;
    right: -3%;
    color: var(--text-color);
    background-image: url("/cloud.5813540d.png");
    background-repeat: no-repeat;
    background-size: 260px;
    padding-left: 35px;
    margin-left: auto;
    margin-right: 631px;
    overflow: hidden;
    width: 260px;
    height: 0px;
    padding-top: 0px;
    animation: showText 3s forwards;
  }
  @keyframes showText {
    0%, 99% {
      height: 0px;
      padding-top: 0px;
    }
    100% {
      height: 180px;
      padding-top: 53px;
    }
  }

  .product-section {
    padding-top: 91px;
    padding-bottom: 160px;
  }
  .product-section .product-header {
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 29px;
  }
  .product-section .product-section-header {
    margin-bottom: 30px;
    max-width: 716px;
  }
  .product-section .product-section-info {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .product-section .presents-list {
    justify-content: start;
  }
  .product-section .presents-list .present-item {
    width: 149px;
    height: 149px;
  }

  .contact-section-header {
    font-size: 56px;
    line-height: 65px;
    margin-bottom: 30px;
  }

  .form-application {
    display: flex;
    flex-direction: column;
  }
  .form-application form-application input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-application {
    width: 468px;
  }
  .form-application .form-container {
    display: flex;
  }
  .form-application div label:first-child {
    margin-right: 19px;
  }
  .form-application .form-label .form-input {
    width: 224px;
  }
  .form-application .form-label textarea {
    font-size: 16px;
    line-height: 19px;
    width: 468px;
  }

  .product-section {
    padding-top: 91px;
    padding-bottom: 160px;
  }
  .product-section .product-header {
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 29px;
  }
  .product-section .product-section-header {
    margin-bottom: 30px;
    max-width: 716px;
    font-size: 56px;
    line-height: 65px;
  }
  .product-section .product-section-info {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .product-section .presents-list {
    justify-content: start;
  }
  .product-section .presents-list .present-item {
    width: 149px;
    height: 149px;
  }
  .product-section .container {
    display: flex;
  }
  .product-section .selected-product {
    position: relative;
    border: none;
    margin-left: 18px;
    border-radius: 20px;
    padding-right: 217px;
    padding-left: 35px;
    align-items: start;
  }
  .product-section .selected-product .selected-product-photo {
    position: absolute;
    top: 25%;
    right: 9%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .product-section .selected-product .product-info {
    font-size: 28px;
    line-height: 33px;
  }
  .product-section .selected-product .product-header {
    font-size: 42px;
    line-height: 49px;
    padding-top: 58px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
    padding-left: 112px;
    padding-right: 112px;
  }
}
/* select */
.select {
  position: relative;
  width: 395px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 26px;
}

@media (min-width: 1200px) {
  .select {
    width: 224px;
    margin: 0;
  }
  .select .select__header {
    width: 224px;
    height: 48px;
  }
}
.select.is-active .select__body {
  display: block;
}

.select {
  margin-right: 20px;
  font-size: 20px;
  line-height: 23px;
}

.select__header {
  border: 3px solid #ffffff;
  width: 395px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  padding-left: 25px;
  padding-top: 8px;
  font-size: 20px;
  line-height: 23px;
}
.select__header .select__current {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
}

.select__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: 5px;
}

.select__body {
  z-index: 100;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background: #fffcfc;
  border: 3px solid #ffffff;
  border-radius: 15px;
  width: 224px;
}

.select__item {
  cursor: pointer;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #cecece;
}

.select__item:hover {
  color: #d02b2b;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */